/* Font Definitions */

@font-face {
    font-family: 'Bodoni classic';
    src: url('../font/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf');
}

.Bodoni-Classic {
    font-family: 'Bodoni classic';
}

@font-face {
    font-family: 'Gotham Black';
    src: url('../font/Gotham Fonts Family/GOTHAM-BOLD.TTF');
}

.Gotham-Black {
    font-family: 'Gotham Black';
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../font/Gotham Fonts Family/Gotham-Medium.otf');
}

.Gotham-Medium {
    font-family: 'Gotham Medium';
}

@font-face {
    font-family: 'Frick Regular';
    src: url(../font/Frick/Frick0.3-Regular.otf);
}

.Frick-Regular {
    font-family: 'Frick Regular';
}

@font-face {
    font-family: 'OpeningHours';
    src: url('../font/OpeningHours/OpeningHoursSans-Regular.otf');
}

.OpeningHours {
    font-family: 'OpeningHours';
}

@font-face {
    font-family: 'Stardom Regular';
    src: url(../font/Stardom/Stardom-Regular.otf);
}

.Stardom-Regular {
    font-family: 'Stardom Regular';
}